<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobike.mobike" >

    <!-- da rivedere i permessi, forse ce n'è qualcuno di troppo -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- permission in order to get Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_test"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- metadata required to use google play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- metadata required to use GoogleMap -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>

        <service
            android:name=".GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobike.mobike.MainActivity" />
        </activity>
        <activity
            android:name=".RouteActivity"
            android:label="@string/title_activity_route" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobike.mobike.MainActivity" />
        </activity>
    </application>

</manifest>
